*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: #f06e17;
    height: 55px;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 1000px;
}
logo img{
    width: 100%;

}
