*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto',sans-serif;
    background-color: #e6e6e6
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(11,78,,78);
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-inline: 15px;
    color: white;
}
ul li a:hover{
    color: black;
    border-bottom: 2px solid red;
}
.logo{
    font-size: 22px;

}
.main{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(14,97,97);
    /* margin-top: 5px; */
    height: 600px;
    color: white;
}
.mainText h1{
    font-size: 55px;
}
.mainText h3{
    font-size: 35px;
    margin-top: 20px;
}
.mainText button{
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 22px;
    font-size: 20px;
}
.mainText button:hover{
     border: 2px solid black;  /*  show more.. */
     background-color: transparent;
}
.teams{
    display: flex;
    justify-content: center;
}
.teams.card{
    width: 300px;
    height: 390px;
    background-color: #fff;
    border-radius: 50px;
    margin-inline: 20px;
}
.card img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.card p{
    margin-top: 11px;
    margin-left: 11px;
}
.head{
    text-align: center;
    padding: 80px;
}
.speciality{
    display: flex;
    justify-content: center;
}
.speciality .spcard{
    width: 300px;
    padding: 22px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-inline: 20px;
}
.spcard img{
    width: 300px;
}
.spcard p{
      margin-top: 12px;
}
.reviews{
    width: 800px;
    height: 400px;
    position: relative;
    margin: auto;
    overflow:hidden;
}
.patientReview{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: #fff; */
    transition: all 1s ease;
}
.patientReview img{
    width: 300px;
    margin-inline: 18px;
    border-radius: 5px;
}
.contact{
    width: 300px;
    background-color: #fff;
    padding: 22px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
}
.contact input{
    width: 90%;
    font-size: 18px;
    padding: 9px;
    margin-top: 22px;
    border: none;
    outline: none;
    background-color: #e4e1e1;
    border-radius: 2px;
}
.contact button{
    width: 100px;
    height: 40px;
    background-color: rgb(13,98,98);
    color: white;
    font-size: 17px;
    border: none;
    margin-top: 22px;
}
.contact1 h1{
    color: rgb(16,103,103);
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 66px;
    margin: 20px;
    background-color: rgb(11,76,76);
    color: white;
}
.text p{
    margin-top: 12px;
}
/* .detail{
    position: fixed;
    left: 50%;
    right: 50%;
    top: 5px;
    transform: translate(-50%,40%);
    background-color: #fff;
    padding: 22px;
    width: 400px;
    border-radius: 4px;
}
.content{
    display: flex;
    gap: 22px;
}
.contect img{
    width: 200px;
    height: 250px;
}
.content p{
    margin-top: 22px;
}
.detail button{
    position: relative;
    top: -23%;
    left: -22px;
    width: 30ppx;
    height: 30px;
    background-color: rgb(12,94,94);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */