/* HEADER */
#header{

    background: #FFF;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(25,119,204,0.1);
}
#header.header-scrolled{
    top: 0;
}
#header .logo{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "poppin",sans-serif;
}
#header .logo a{
      color:#2c4964;
}
#header .logo img{
    max-height: 40px;
}
/* NAVBAR */
.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
navbar li{
    position: relative;
}
.navbar > ul >li{
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}
.navbar a,navbar a:focus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #FFF;
    padding: 5px 2px;
}
.navbar a i,.navbar a:focus i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a{
    color: #1977cc;
    border-color: #1977cc;
}
/* APPOINMENT BUTTON */
.appointment-btn{
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 40px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}
.appoinment-btn:hover{
    background: #3fbbc0;
    color: #fff;
}
@media(max-width: 768px){
    .appointment-btn{
        margin: 0 15px 0 0;
        padding: 6px 18px;
    }
}
/* MOBILE NAVIGATION */
.navbar-nav-toggle{
    color: #2c4964;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x{
    color: #FFF;
}
@media(max-width:991px){
    .mobile-nav-toggle{
        display: block
    }
}
.navbar-mobile{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(28,47,65,0.9);
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile .mobile-nav-toggle{
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul{
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a{
    padding: 10px 20px;
    font-size: 15px;
    color: #2c4964;
    border: none;
}
.navbar-mobile a:hover, .navbar-mobile .active,.navbar-mobile li:hover > a{
    color: #3fbbc0;
}
.navbar-mobile .getstarted{
    margin: 15px;
}
/* SECTION GENERAL */
section{
    padding: 60px 0;
    overflow: hidden;
}
.section-bg{
    background-color: #f1f7fd;
}
.section-tital{
    text-align: center;
    padding-bottom: 30px;
}
.section-tital h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}
.section-tital h2:before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #fff;
    bottom: 1px;
    left: calc(50% -60px);
}
.section-tital h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% -20px);
}
.section-tital p{
    margin-bottom: 0;
}
/* HOME__SECTION */
#home{
    width: 100%;
    height: 90vh;
    background: url("hospi2.jpg")top center;
    background-size: cover;
    background-position: center;
}
#home .container{
    position: relative;
}
#home h1{
    margin: 0;
    font-size: 0;
    font-weight: 700;
    line-height: 56%;
    text-transform:uppercase;
    color: #2c4964;
}
#home h2{
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}
#home .btn-get-started{
    font-family: sans-serif,"releway";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;

    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
}
#home .btn-get-started:hover{
    background: #3fbbc0;
}
@media(min-width:1024px){
    home{
        background-attachment: fixed;
    }
}
@media(max-width 992px){
    #home{
        margin-bottom: 0;
        height: 100vh;
    }
    #home .container{
        padding-bottom: 63px;
    }
    #home h1{
        font-size: 28px;
        line-height: 36px;
    }
    #home h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}
@media (max-width:600px){
    #home{
        height: 100vh;
    }
}
/* services */
.featured-services .icon-box{
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68,88,144,0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}
.featured-services .icon-box::before{
    content: "";
    position: absolute;
    background: #d9f1f2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}
.featured-services .icon-box:hover::before{
    background: #3fbbc0;
    top: 0;
    border-radius: 0px;
}
.featured-services .icon{
    margin-bottom: 15px;
}
.featured-services .icon i{
    font-size: 48px;
    line-height: 1;
    color: #1977cc;
    transition: all 0.3s ease-in-out;
}
.featured-services .title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.featured-services .title a{
    color: #111;
}
.featured-services .description{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.featured-services .icon-box:hover .title a, .featured-services .description{
    color: #fff;
}
.featured-services .icon-box:hover .icon i{
    color: #fff;
}
/* ABOUT */
.about .icon-boxes h4{
    font-size: 18px;
    color: #4b7dab;
    margin-bottom: 15px;
}
.about .icon-boxes h3{
    font-size: 28px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
}
.about .icon-box{
    margin-top: 40px;
}
.about .icon-box .icon{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8dc2f1;
    border-radius: 50px;
    transition: 0.5s;
}
.about .icon-box .icon i{
    color: #1977cc;
    font-size: 32px;
}
.about .icon-box:hover .icon{
    background: #3fbbc0;
    background-color: #3fbbc0;
}
.about .icon-box:hover .icon i{
    color: #fff;
}
.about .icon-box .title{
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 10px;
}
.about .icon-box .title a{
    color: #343a40;
    transition: 0.3s;
}
.about .icon-box .title a:hover{
    color:#1977cc;
}
.about .icon-box .description{
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}
.about .video-box{
    background: url("../img/about.jpg")center center no-repeat;
    background-size: cover;
    min-height: 500px;
}
.about .play-btn{
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%,rgba(25,119,204,0.4)52%);
    border-radius: block;
    position: absolute;
    left: calc(50 -47px);
    top: calc(50% -47px);
    overflow: hidden;
}
.about .play-btn::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transition: translateX(-40%)translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55 0.055,0.675,0.19);
}
.about .play-btn::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25,119,204,0.7);
    top: -15%;
    left: -15%;
    background: rgba(198,16,0,0);
}
.about .play-btn:hover::after{
    border-left: 15px solid#1977cc;
    transform: scale(20);
}
.about .play-btn:hover::before{
    content: '';
    position: absolute;
    left:50% ;
    top: 50%;
    transform: translateX(-40%)translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}
@-webkit-keyframes pulsate-btn{
    0%{
        transform: scale(0.6,0.6);
        opacity: 1;
    }
    100%{
        transform: scale(1,1);
        opacity: 0;
    }
}
@keyframes  pulsate-btn{
    0%{
        transform: scale(0.6,0.6);
        opacity: 1;
    }
    100%{
        transform: scale(1,1);
        opacity: 0;
    }
}