*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height: 60px;                   /*main body*/
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*box-2*/
.add-first{
    color: #CCCCCC;
    font-size: 0.8rem;
}
.add-sec{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;/*logo of location center*/
}
/*box-3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
}
.search-select{
    background-color: 3f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   /* border-bottom-right-radius: 10px;*/
    
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
   display: flex;
   justify-content:center;    /*horizontal center*/
    align-items:center;       /*vertically center*/
    font-size: 1.2rem; 
    background-color: rgb(255,177,0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    
}
.nav-search:hover{
    border: 2px solid orange;
}

/** box--4***/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** box--6 cart**/
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight:700;
}