@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* UTILITY */
.nowrap{
    white-space: nowrap;
}

/* GENERAL STYLES */

html{
    scroll-behavior: smooth;
}

body{
    font:1.5rem "Nunito",sans-serif;
    min-height: 100vh;

    background-color: #475569;
    background-image: radial-gradient(white-space,#475569);
    display: flex;
    flex-direction: column;

}

header,
nav,
main,
footer{
   display: grid;
   place-content: center;
   grid-template-columns: 100%;
   text-align: center;
}
header,
footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}
header{
    top: 0;
}
nav{
    background-color: #fff;
    /* color: #000; */
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;

}

nav a, nav a:visited{
    color: #000;
}

nav a:hover,nav a:focus{
    color: hsla(0, 0%, 20%,0.6);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
footer{
    bottom: 0;
}

/* PROFILE CARD */
.card{
    scroll-margin-top: 8rem;
    width: min(100%,350px);
    background-color: #cbd5e1;
    border: 2px solid #000;
    border-radius:15px ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    border: 5px double #333;
    border-radius: 50%;
}

.card figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}



/* SMALL */

@media screen and(min-width:400px){
    
   main{
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
   }
   .card{
    width: min(100%,400px);
   }
   .card:last-child{
    order: -1;
   }
}
    /* 
    body{
         background-color: green;
         background-image: radial-gradient(whitesmoke,green);
    }
    nav{
        display: none; */
    /* }
} */

/* MEDIUM */

@media screen and(min-width:600px){
      nav{
        display: none;
      }
      .card{
        width: min(100%,325px);
      }
      .card figure{
        flex-flow: column-reverse;
      }
      .card figcaption{
        margin: 0.1em 0;
      }
      .card p{
        margin-top: 1rem;
      }
 
 
    /* body{
         background-color: gold;
         background-image: radial-gradient(whitesmoke,gold);
    } */
}
/* LARGE */
@media screen and(min-width:900px){
    body{
         background-color: aqua;
         background-image: radial-gradient(whitesmoke,aqua);
    }
}
