*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:aqua;
}

#myH1{
    font-size: 4rem;
    font-family: "Arial",sans-serif;
    color: hsl(0, 0%, 25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: antiquewhite;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0,0%,30%);
    text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
    margin-bottom: 25px;
}

#controls button{
   font-size: 1.5rem;
   font-weight: bold;
   padding: 10px 20px;
   margin: 5px;
   min-width: 125px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   color: #fff;
   transform: background-color 0.5s ease;
}

#startBtn{
    background-color: rgb(63, 220, 63);;
}
#startBtn:hover{
    background-color: green;
}

#stopBtn{
    background-color: red;
}
#stopBtn:hover{
    background-color: rgb(216, 38, 38);
}

#resetBtn{
    background-color: rgb(171, 171, 44);
}
#resetBtn:hover{
    background-color: rgb(222, 222, 38);
}