*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #454545;
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}
.left, .right{
    float-basis: 50%;
    padding: 10px;
}
textarea{
    width: 100%;
    height: 30%;
    background: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
}

iframe{
    width: 1500px;
    height: 95%;
    background: #fff;
    border: 0;
    outline: 0;
}
label i{
   margin-right: 10px;
   margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
    background: #000;
    height: 60px;
}